<ng-container>
    <td>{{salarie.mail}}</td>
    <td>{{salarie.nom}}</td>
    <td>{{salarie.prenom}}</td>
    <td>{{salarie.service.libelle}}</td>
    <td>{{salarie.role}}</td>
    <td *ngIf="salarie.manager != null">{{salarie.manager.nom}}</td>
    <td *ngIf="salarie.manager == null"></td>
    <td><button [routerLink]="['/salarie', 'edit', salarie.id]"
      routerLinkActive="active" class="btn btn-outline-warning">Modifier</button></td>
    <td><button (click)="delete()" class="btn btn-outline-danger">Supprimer</button></td>
  </ng-container>
